#bd{
    background-color:#424242;
}
.card1 {
    height: 1300px;
}
.par{
    font-size: 30px;
    color:red;
}
.background-section {
    height: 300px; 
    /* background-image: afodisiac/IMG-20231219-WA0172.jpg; */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.text-overlay {
    position: absolute;
    bottom: -30%;
    left: 90%;
    translate: translate(-50%, -50%);
    color: black;
    text-align: right;
    font-size: 100px;
}
.overlay {
    position: relative;
}
.overlay .card_img_overlay {
    display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
}

#card2 {
    position: absolute;
    align-items: right;
    width: 100px;
    height: 100px;
}

.btn3 {
    background-color: white;
    border: none;
    border-radius: 25px;
    color: #424242;
    box-shadow: -6px -6px 10px white,
                6px 6px 10px #00000026;

}
.btn3:hover {
    box-shadow: 2px 2px 2px #f9f9f9
    -2px -2px 2px #00000026;
}
.footer {
    color: #f9f9f9;
}